@media (min-width: 1024px) {
  body {
    font-size: 12px;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #ccf4e6;
}
.container {
  max-width: 1128px;
}
img {
  max-width: 100%;
}
.header {
  width: 100%;
  height: 48px;
}
.logo {
  width: 20.744680851064%;
  max-width: 100%;
}
.imagem {
  max-width: 100%;
  height: 500px;
  width: 200%;
  background: url(/assets/images/catdrow.jpg);
  position: relative;
}
.banner-left .hi {
  left: 5px;
  text-align: center;
  position: absolute;
  font: 400 1.5rem 'DN Sans', 'San Serif';
  color: black;
  line-height: 30px;
  top: 9%;
}

.banner-right {
  height: 500px;
  width: 400px;
  left: 60%;
  top: 10%;
  position: absolute;
  max-width: 100%;
  font: 400 1rem 'DN Sans', 'San Serif';
  justify-content: space-between;
}
.banner-right form {
  color: black;
  align-items: center;
}
span {
  font-size: 45px;
  color: red;
}

.footer {
  background-color: white;
  width: 100%;
  font: 400 3rem 'DN Sans', 'San Serif';
  left: 0px;
  right: 0px;
  position: fixed;
  bottom: 0px;

  max-width: 100%;
}
.footer img {
  max-width: 100%;
}

.quiz {
  font-size: 40px;
}
