@media screen (max-width: 600px) and (min-width:400px) {
  body {
    font-size: 12px;
  }
}

body {
  background-image: url(/assets/images/cartaz-festa17.jpg);
  
}
.container {
  background-image: url(/assets/images/images.png);
 background-size: 15%;
 width: 1336px;
  height: 1200px;
  top: 100px;
 margin-right: 150px;
  margin-left: 150px;
  bottom:100px;
  align-items: center;
  position: absolute;
  max-width: 100%;
}

.logo {
  width: 20.744680851064%;
  max-width: 100%;
}
.imagem{
  max-width: 100%;
 top: 140px;

 left:20px ;20
  position: relative;
}

.banner-left .hi {
  left: 100px;
 
  text-align: center;
  position: relative;
  font: 400 4rem 'Pacifico', cursive;
  color: #1c86ee;
  line-height: 60px;
  top: 48px;
}

.banner-right {
  height: 500px;
  width: 400px;
  left:950px;
  top: 55%;
  background-color: black;
  position:absolute;
  max-width: 100%;
  font: 400 1rem'Amatic SC', cursive;
  justify-content: space-between;
  border-radius: 80px;
 
}
.banner-right img {
  height: 150px;
  width: 400px;

  border-radius: 40px;
}
.form {
  color: white;
 right: : 150px;

}
span {
  font-size: 25px;
  color: red;
}
/*
.footer {
  width: 1700px;
  right: 123px;
  left: 123px;
  background-color: white;
 height: 160px;
  font: 400 3rem 'DN Sans', 'San Serif';
  
  position: absolute;
  bottom: 0px;
  max-width: 100%;
  

 
}
.footer img {
  max-width: 100%;

  left: 400%;
}*/

#response {
  position: relative;
  left: 83px;
  width: 250px;
  height: 300px;
  
  border-radius: 25px;
  padding: 5px;
  max-width: 250px;
  align-items: center;
 
}
input {
  position: relative;
  padding: 15px;

  font-size: 20px;
  width: 250px;
  height: 70px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-bottom:25px;
}
#button{
  font: 400 1rem  'Cormorant Garamond', serif;
  text-align: center;
  font-size: 40px;
font: bold;
background-color: aquamarine;
}
