@media (min-width: 1024px) {
  body {
    font-size: 12px;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
 background-image: url(/assets/images/cartaz-festa17.jpg);
  max-width: 1366px;
  width: 1366px;
  height: 826px;
  top: 2408px;
  left: -1px;
 ;
}
.container  {
 background-image: url(/assets/images/images.png
 );
 
 width: 1700px;
 height: 900px;
  top: 40px;
  left: 123px;
  bottom: 230px;
  right: 123px;
  position: fixed;*/
  max-width: 100%;
}


.logo {
  width: 20.744680851064%;
  max-width: 100%;
}


.banner-left {
  display: inline-block;
  position: relative;
}
.banner-left  .hi {
  left: 5px;
  max-width: 100%;
  text-align: center;
  position: absolute;
  font: 400 4rem 'DN Sans', 'San Serif';
  color: #1c86ee;
  line-height: 60px;
  top: 145px;
}

.banner-right {
  height: 500px;
  width: 400px;
  left: 1100px;
  top: 10%;
  background-color: black;
  position: relative;
  max-width: 100%;
  font: 400 1rem 'DN Sans', 'San Serif';
  justify-content: space-between;
  border-radius: 80px;
}
.banner-right img {
  height: 150px;
  width: 400px;
  position: relative;
  border-radius: 40px;
}
.banner-right form {
  color: white;
  margin-right: 40px;
  align-items: center;
}
span {
  font-size: 25px;
  color: red;
}
/*
.footer {
  background-color: white;
  width: 100%;
  font: 400 3rem 'DN Sans', 'San Serif';
  left: 0px;
  right: 0px;
  position: fixed;
  bottom: 0px;

  max-width: 100%;
}
.footer img {
  max-width: 100%;

  left: 400%;
}*/

#response {

 height: 350px;
  background-color: black;
  border-radius: 25px;
  padding: 5px;
  max-width: 250px;
  align-items: center;
  text-align: center;
  position: relative;
}
input {
  position: relative;
  margin-top: 30px;
 
  width: 100%;
  height: 40px;
align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-left: 40px;
}
